body{
    
    font-family: 'Merriweather', serif;
    background-color: black;
    position: absolute;
    text-align: center;
    top: 20%;
    width: 100%;
    overflow-x: hidden;
}

head{
    background-color: black;
}

h1{
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    margin: auto;
    color:white;
}

.caption{
    position: relative;
    
}